ul {
  list-style-type: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left:18px
  }
  
  label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin-left: 18px;
}
input {
  text-align: center;
  vertical-align: middle;
  margin-left:18px
}

.theme { /* any shared styles */ }
 .theme.blue { color: blue; }
 .theme.red { color: red; }