<div class="form-group">
    <div class="box1">
        <ul>
            <li *ngFor="let answer of answers;let i = index">
                <div class="button">
                    <button [@myTrigger]="'fadeIn'" #button [id] ="i"[ngClass]="{'green': (answerIndex == i && answer.isCorrect),'red': (answerIndex == i && !answer.isCorrect)}"  (click)="select(i,answer)" (click)="toggleState(button.id)"
                    >{{answer.answer}}</button> 
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
       <p> Wähle eine Antwort aus, um zur nächsten Frage zu gelangen.</p>
    </div>
</div>