
.header {
  padding-top: 10px;
  padding-left: 5px;
  width: 25%;
  height: 10%;
  margin: 0 auto;
  z-index: 10005; 
  position: absolute;
}




button {
  background-color: #004769;
  color:#FFCC00;
  width:90px
  }