
.header {
  padding-top: 10px;
  padding-left: 10px;
  width: 40%;
  height: 5%;
  margin: 0 auto;
  z-index: 10005; 
  position: absolute;
}

button {
  background-color: #004769;
  color:#FFCC00;
  width:90px
  }

