<app-spinner [name]="'cube'" [isRunning]="isLoading" [text]="'Working on it...'"></app-spinner>
<app-header></app-header>
<div class="container">
<hr>
<form [formGroup]="form">
  <h1>Neue Frage hinzufügen: </h1>
  <div class="form-group">
    <label for="subject">Fach</label>
    <select class="form-control" #s1 formControlName="subject" id="s" [(ngModel)]="selectedSubject" name="s">
        <option  *ngFor="let subject of subjects; let i = index "> {{subject}}</option>
     </select>
  </div>

  <div class="form-group">
    <label for="question">Frage</label>
    <div class="alert alert-danger" *ngIf="(form.get('questionTitle').touched || form.get('questionTitle').dirty) && form.get('questionTitle').errors?.required">
      Eingabe erforderlich!</div>
    <div class="alert alert-danger" *ngIf="(form.get('questionTitle').touched || form.get('questionTitle').dirty) && form.get('questionTitle').errors?.maxlength">
      Nicht mehr als 100 Zeichen erlaubt!</div>
    <div class="alert alert-danger" *ngIf="(form.get('questionTitle').touched || form.get('questionTitle').dirty) && form.get('questionTitle').errors?.minlength">
      Weniger als 4 Zeichen nicht zulässig</div>
    <input type="text" formControlName="questionTitle" [(ngModel)]="question" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="answer1">Antwort 1</label>
    <input type="checkbox" #c1 formControlName="checkbox1"><span *ngIf="c1.checked">Korrekte Antwort!</span>
    <div class="alert alert-danger" *ngIf="(form.get('answer1').touched || form.get('answer1').dirty) && form.get('answer1').errors?.required">
      Mindestens 3 Antworten erforderlich!</div>
    <input type="text" #a1 formControlName="answer1" class="form-control">

    <label for="answer2">Antwort 2</label>
    <input type="checkbox" #c2 formControlName="checkbox2"><span *ngIf="c2.checked">Korrekte Antwort!</span>
    <div class="alert alert-danger" *ngIf="(form.get('answer2').touched || form.get('answer2').dirty) && form.get('answer2').errors?.required">
      Mindestens 3 Antworten erforderlich!</div>
    <input type="text" #a2 formControlName="answer2" class="form-control">

    <label for="answer3">Antwort 3</label>
    <input type="checkbox" #c3 formControlName="checkbox3"><span *ngIf="c3.checked">Korrekte Antwort!</span>
    <div class="alert alert-danger" *ngIf="(form.get('answer3').touched || form.get('answer3').dirty) && form.get('answer3').errors?.required">
      Mindestens 3 Antworten erforderlich!</div>
    <input type="text" #a3 formControlName="answer3" class="form-control">

    <label for="answer3">Antwort 4</label>
    <input type="checkbox" #c4 formControlName="checkbox4"><span *ngIf="c4.checked">Korrekte Antwort!</span>
    <input type="text" #a4 formControlName="answer4" class="form-control">
  </div>
  <button type="submit" [disabled]="!form.valid" class="btn btn-default" 
    (click)="generateNewQuestion(a1.value,a2.value,a3.value,a4.value,c1.checked, c2.checked, c3.checked, c4.checked)">Submit</button>
</form>
<div>