<div class="form-group">
    <div class="answers">
        <ul>
            <li *ngFor="let answer of answers;let i = index">
                <div class="buttons"  >
                    <button  [@myTrigger]="'fadeIn'" #button [id]="i" [ngClass]="{'green': (answerIndex == i && answer.isCorrect),'red': (answerIndex == i && !answer.isCorrect)}"
                       (mouseenter)="onHovering($event)" (mouseleave)="onUnHovering($event)" (click)="select(i,answer)" (click)="toggleState(button.id)">{{answer.answer}}</button>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="footer" [hidden] ="!buttonHover">
    <p>Wähle eine Antwort aus, um zur nächsten Frage zu gelangen.</p>
</div>
