 <app-spinner [name]="'cube'" [isRunning]="isLoading" [text]="'Working on it...'"></app-spinner>
<div class="container" *ngIf="!isLoading">
    <app-header></app-header>
<div class="questions">
    <span>
            <h1>Frage {{count}} von {{length}}</h1>
    </span>
    <hr>
    <span id="question" [@myTrigger]='state' [(ngModel)]="currentQuestion" ngDefaultControl name="title">{{currentQuestion?.title}}</span>
    <div>
        <app-answer id="answer" (answersLoading)="answersLoaded($event)" (nextQuestion)="nextQuestion($event)" [questionId]='questionId' [state]="isLoaded"></app-answer>
    </div>
</div>
</div>