<app-header></app-header>
<div *ngIf="!subjectSelected" class="container" style="bottom:50%">
  <div class="list-group">
    <a class="list-group-item">
      <div class="checkbox pull-left">
      </div>
      <div class="pull-left form-control-inline">
        <h4><input type="checkbox" name="price" (click)="getSubject(2)" class="list-group-item-heading">BWL</h4>
      </div>
      <span class="label label-danger pull-right">Anzahl</span>
      <div class="clearfix"></div>
    </a>
    <a  class="list-group-item">
      <div class="checkbox pull-left">
      </div>
      <div class="pull-left">
        <h4><input type="checkbox" name="price"(click)="getSubject(0)" class="list-group-item-heading">ITS</h4>
      </div>
      <span class="label label-primary pull-right">Anzahl</span>
      <div class="clearfix"></div>
    </a>
     <a  class="list-group-item">
      <div class="checkbox pull-left">
      </div>
      <div class="pull-left" >
        <h4><input type="checkbox" name="price" (click)="getSubject(1)" class="list-group-item-heading">WI</h4>
      </div>
      <span class="label label-primary pull-right">Anzahl</span>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
<div style="width:15%; padding-top:45px">
<ul>
  <li *ngFor="let subject of subjects;let i = index">
    <div><input type="checkbox" name="price" (click)="getSubject(i)">{{subject}}</div>
  </li>
</ul>
</div>
<div style="height:75%">
<div *ngIf="selectedSubject != ''">
  <ul *ngFor="let question of questions | filter:selectedSubject;let i = index">{{i+'.'}} {{question?.subject}} {{question?.title}}
    <span id="deleteQuestion" class="glyphicon glyphicon-remove-circle" (click)="deleteQuestion(question)"></span>
  </ul>
</div>
<div>