<div class="container">
  <h1>Neue Frage</h1>
  <hr>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="question">Frage</label>
      <input type="text" formControlName="questionTitle" [(ngModel)]="newQuestion" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="answer1">Antwort 1</label>
      <input type="checkbox" #c1 id="correct1"> richtig?
      <input type="text" #a1 formControlName="answer1" class="form-control">

      <label for="answer2">Antwort 2</label>
      <input type="checkbox" #c2 id="correct2"> richtig?
      <input type="text" #a2 formControlName="answer2" class="form-control">

      <label for="answer3">Antwort 3</label>
      <input type="checkbox" #c3 id="correct3"> richtig?
      <input type="text" #a3 formControlName="answer3" class="form-control">

      <label for="answer3">Antwort 4</label>
      <input type="checkbox" #c4 id="correct4"> richtig?
      <input type="text" #a4 formControlName="answer4" class="form-control">
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-default" (click)="generateNewAnswers(a1.value,a2.value,a3.value,a4.value,c1.checked, c2.checked, c3.checked, c4.checked)"
      (click)="generateNewQuestion()">Submit</button>
  </form>
</div>